.header{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
    padding: 0rem 4rem;
    margin-bottom: 2rem;
    @media (max-width: 45rem) {
        padding: 0rem;
        flex-direction: column;
    }
}

.avatar__redirector{
    @extend .profileavatar__button;
    @extend .scaleup__effect;
    align-self: center;
}