* {
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    margin: 0rem;
    padding: 0rem;;
}

button {
    border: none;
    cursor: pointer;    
}

input {
    border: 1px solid;
    outline: none;
    background: none;
}
