$buttonSizeMedium: 0.5rem;
$paddingSmall: 0.25rem;
$paddingNormal: 0.5rem;
$paddingMedium: 0.75rem;
$fontSizeSmall: 0.75rem;
$fontSizeNormal: 0.85rem;
$fontSizeMedium: 1rem;
$marginSmall: 0.5rem;
$marginNormal: 0.75rem;
$marginMedium: 1rem;
$fontWeightLight: 300;
